@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #__next {
    height: 100%;
    background-color: #242a40;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
  }
}
